<section class="productos">

    <h1 class="productos-title">
        Cheesecakes
    </h1>

    <div class="productos-container">

        <!-- CARD 1 -->

        <div class="producto-card">

            <img
            src="img/Chessecakes/Chessecake frutos rojos edit.png"
            alt="Cheesecake Frutos Rojos">

            <h2>Frutos Rojos</h2>

            <p>
                Base crocante de Oreo
                con crema suave
                y terminaciones premium.
            </p>

            <a
            href="#/cheesecake-frutos-rojos"
            class="btn-ver">

                Ver más →

            </a>

        </div>

        <!-- CARD 2 -->

        <div class="producto-card">

            <img
            src="img/Chessecakes/frutilla.jpg"
            alt="Cheesecake Frutilla">

            <h2>Cheesecake Frutilla</h2>

            <p>
                Cheesecake artesanal
                con salsa de frutillas
                frescas y decoración elegante.
            </p>

            <a
            href="#/cheesecake-frutilla"
            class="btn-ver">

                Ver más →

            </a>

        </div>

        <!-- CARD 3 -->

        <div class="producto-card">

            <img
            src="img/Chessecakes/dulce-de-leche.jpg"
            alt="Cheesecake Dulce de Leche">

            <h2>Dulce de Leche</h2>

            <p>
                Cheesecake cremoso
                con cobertura intensa
                de dulce de leche.
            </p>

            <a
            href="#/cheesecake-ddl"
            class="btn-ver">

                Ver más →

            </a>

        </div>

    </div>

    <!-- BOTON VOLVER -->
     
<div class="btn-volver-container">
    <a
    href="#/productos"
    class="btn-volver">

        ← Volver

    </a>
    </div>

</section>