<section class="categorias">

    <h1 class="productos-title">
        Mini Pastelería
    </h1>

    <div class="categorias-container">

        <!-- MINI DELICIAS -->
        <a href="#/mini-delicias" class="categoria-card">
            <img
                src="./img/Mini Pasteleria/mini-delicias-grnl.png"
                alt="Mini Delicias"
            >
            <h2>Mini Delicias</h2>
        </a>


        <!-- ALFAJORCITOS -->
        <a href="#/alfajorcitos" class="categoria-card">
            <img
                src="./img/Mini Pasteleria/alfajorcitos-grnl.png"
                alt="Alfajorcitos"
            >
            <h2>Alfajorcitos</h2>
        </a>

    </div>


    <!-- BOTÓN VOLVER -->
    <div class="btn-volver-container">
        <a href="#/productos" class="btn-volver">
            ← Volver
        </a>
    </div>

</section>