<section class="categorias">
  <h1 class="productos-title">Nuestros Productos</h1>

  <div class="categorias-container">
    <a href="#/tortas-modernas" class="categoria-card">
      <img src="./img/Tortas Modernas/tortas-modernas-grnl.png" alt="Tortas Modernas">
      <h2>Tortas Modernas</h2>
    </a>

    <a href="#/cheesecakes" class="categoria-card">
      <img src="./img/Chessecakes/cheesecakes-grnl.png" alt="Cheesecakes">
      <h2>Cheesecakes</h2>
    </a>

    <a href="#/tartas" class="categoria-card">
      <img src="./img/Tartas/tartas-grnl.png" alt="Tartas">
      <h2>Tartas</h2>
    </a>

    <a href="#/tortas-basicas" class="categoria-card">
      <img src="./img/Tortas Basicas/tortas-basicas-grnl.png" alt="Tortas Básicas">
      <h2>Tortas Básicas</h2>
    </a>
  </div>
</section>

<section class="productos">
  <h2 class="productos-title">Productos disponibles</h2>
  <p class="productos-intro">Elegí tus productos favoritos y agregalos al carrito.</p>
  <div id="productos-dinamicos" class="productos-container"></div>
</section>
