<section class="categorias">
  <h1 class="productos-title">Nuestros Productos</h1>

  <div class="categorias-container">
    <a href="#/tortas-modernas" class="categoria-card">
      <img src="./img/Tortas Modernas/tortas-modernas-grnl.png" alt="Tortas Modernas">
      <h2>Tortas Modernas</h2>
    </a>

    <a href="#/cheesecakes" class="categoria-card">
      <img src="./img/Cheesecakes/cheesecakes-grnl.png" alt="Cheesecakes">
      <h2>Cheesecakes</h2>
    </a>

    <a href="#/tartas" class="categoria-card">
      <img src="./img/Tartas/tartas-grnl.png" alt="Tartas">
      <h2>Tartas</h2>
    </a>

    <a href="#/tortas-basicas" class="categoria-card">
      <img src="./img/Tortas Basicas/tortas-basicas-grnl.png" alt="Tortas Básicas">
      <h2>Tortas Básicas</h2>
    </a>

    <a href="#/shots" class="categoria-card">
      <img src="./img/shots/shots-grnl.png" alt="Shots">
      <h2>Shots Dulces</h2>
    </a>

    <a href="#/mini-pasteleria" class="categoria-card">
      <img src="./img/Mini Pasteleria/minipasteleria-grnl.png" alt="Mini Pastelería">
      <h2>Mini Pastelería</h2>
    </a>

    <a href="#/dulces-personalizados" class="categoria-card">
      <img src="./img/Personalizadas/dulces personalizados-grnl.png" alt="Dulces Personalizados">
      <h2>Dulces Personalizados</h2>
    </a>

    <a href="#/tortas-personalizadas" class="categoria-card">
      <img src="./img/Tortas Personalizadas/tortas-personalizadas-grnl.png" alt="Tortas Personalizadas">
      <h2>Tortas Personalizadas</h2>
    </a>

    <!-- COOKIES NY -->
  <a href="#/cookies-ny" class="categoria-card">
    <img src="./img/Cookies/cookies Ny-grnl.png"
    alt="Cookies NY">
    <h2>Cookies NY</h2>
  </a>

  <!-- COOKIES PERSONALIZADAS -->
  <a href="#/cookies-personalizadas" class="categoria-card">
  <img
    src="./img/Cookies Personalizadas/cookies-personalizadas-grnl.png"
    alt="Cookies Personalizadas">
  <h2>Cookies Personalizadas</h2>
  </a>

  </div>
</section>


