<section class="shots-page">

    <h1 class="productos-title">
        Armá tus Shots Dulces
    </h1>

    <p class="shots-intro">
       <div class="shots-info">
    <h2>Armá tu combinación 🤍</h2>

    <p>
        Elegí tus sabores favoritos y combinalos como quieras.
    </p>

    <span>Pedido mínimo: 6 unidades</span>
    </div>
    </p>


   
    <div id="shots-container"></div>


    <!-- RESUMEN DEL PEDIDO -->
    <div class="shots-resumen">

        <h2>Tu selección</h2>

        <p>
            Unidades seleccionadas:
            <span id="shots-total">0</span> / 6
        </p>

        <button
            type="button"
            id="btn-agregar-shots"
            disabled
        >
            🛒 Agregar al carrito
        </button>

    </div>


    <!-- BOTÓN VOLVER -->
    <div class="btn-volver-container">
        <a href="#/productos" class="btn-volver">
            ← Volver
        </a>
    </div>

</section>