<section class="productos">

  <h1 class="productos-title">Tortas Modernas</h1>

  <div class="productos-container">

    <div class="producto-card">
      <img src="./img/Tortas Modernas/Torta Frambali.jpeg" alt="Frambali">

      <h2>Frambali</h2>

      <p>
        Biscuit capucine de lima, cremoso de frambuesa e hibiscus,
        sablee de almendras, geleè de frambuesas y mousse
        de chocolate blanco y pimienta.
      </p>

      <a href="#/frambali" class="btn-ver">Ver más →</a>
    </div>

    <div class="producto-card">
      <img src="./img/Tortas Modernas/Doble Mousse.jpeg" alt="Doble Mousse">

      <h2>Doble Mousse</h2>

      <p>
        Mousse de chocolate blanco y mousse de chocolate semiamargo.
      </p>

      <a href="#/doble-mousse" class="btn-ver">Ver más →</a>
    </div>

    <div class="producto-card">
      <img src="./img/Tortas Modernas/Charlotte de frutos rojos.jpeg" alt="Charlotte de frutos rojos">

      <h2>Charlotte de Frutos Rojos</h2>

      <p>
        Mousse de frutos rojos con vainillas artesanales.
      </p>

      <a href="#/charlotte-frutos-rojos" class="btn-ver">Ver más →</a>
    </div>

    <div class="producto-card">
      <img src="./img/Tortas Modernas/Frambuesa y Queso edit.png" alt="Frambuesa y queso">

      <h2>Frambuesa y Queso</h2>

      <p>
        Mousse de queso, biscuit capucine de lima y geleé.
      </p>

      <a href="#/frambuesa-queso" class="btn-ver">Ver más →</a>
    </div>

  </div>
  <div class="btn-volver-container">
    <a href="#/productos" class="btn-volver">
        ← Volver
    </a>
    </div>

</section>