<section class="productos">

    <h1 class="productos-title">
        Tortas Básicas
    </h1>

    <div class="productos-container">

        <!-- CARD 1 -->

        <div class="producto-card">

            <img
            src="img/Tortas Basicas/brownie.png"
            alt="Torta Brownie">

            <h2>Brownie</h2>

            <p>
                Bizcochuelo húmedo
                de chocolate con
                relleno artesanal.
            </p>

            <a
            href="#/brownie"
            class="btn-ver">

                Ver más →

            </a>

        </div>

        <!-- CARD 2 -->

        <div class="producto-card">

            <img
            src="img/Tortas Basicas/matilda.png"
            alt="Torta Matilda">

            <h2>Matilda</h2>

            <p>
                Torta clásica
                de vainilla suave
                y decoración delicada.
            </p>

            <a
            href="#/matilda"
            class="btn-ver">

                Ver más →

            </a>

        </div>

        <!-- CARD 3 -->

        <div class="producto-card">

            <img
            src="img/Tortas Basicas/choco Oreo.png"
            alt="Torta Choco Oreo">

            <h2>Choco Oreo</h2>

            <p>
                Combinación perfecta
                de vainilla y chocolate
                estilo casero premium.
            </p>

            <a
            href="#/choco-oreo"
            class="btn-ver">

                Ver más →

            </a>

        </div>

        <!-- CARD 4 -->

        <div class="producto-card">

            <img
            src="img/Tortas Basicas/chocoTorta.png"
            alt="Choco Torta">

            <h2>Choco Torta</h2>

            <p>
                Combinación perfecta
                de vainilla y chocolate
                estilo casero premium.
            </p>

            <a
            href="#/choco-torta"
            class="btn-ver">

                Ver más →

            </a>

        </div>

        <!-- CARD 5 -->

        <div class="producto-card">

            <img
            src="img/Tortas Basicas/rogel.png"
            alt="Torta Rogel">

            <h2>Rogel</h2>

            <p>
                Combinación perfecta
                de vainilla y chocolate
                estilo casero premium.
            </p>

            <a
            href="#/rogel"
            class="btn-ver">

                Ver más →

            </a>

        </div>

    </div>

    <!-- BOTON VOLVER -->

<div class="btn-volver-container">
    <a
    href="#/productos"
    class="btn-volver">

        ← Volver

    </a>
</div>

</section>